<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v6.0" />
    </startup>
    <connectionStrings>
		<add name="Chapeau Project"
             connectionString="
			 Data Source=chapeau.database.windows.net;
			 Initial Catalog=chapeau-restaurant;
			 User=chapeauadmin;
			 Password=admin-234" />
	</connectionStrings>
</configuration>